In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

warnings.filterwarnings('ignore')

In [ ]:
#import google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
books= pd.read_csv("/content/drive/Shareddrives/rs assignment1/Book Dataset/Books.csv")
ratings = pd.read_csv("/content/drive/Shareddrives/rs assignment1/Book Dataset/Ratings.csv")
users = pd.read_csv("/content/drive/Shareddrives/rs assignment1/Book Dataset/Users.csv")

In [ ]:
books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
users.head(5)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [ ]:
ratings.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271359,271360,271358,271360,271360,271357
unique,271360,242135,102023,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [ ]:
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [ ]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [ ]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [ ]:
ratings_name = ratings.merge(books ,on='ISBN')
ratings_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [ ]:
no_of_rating = ratings_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
no_of_rating.rename(columns={'Book-Rating':'num_of_rating'},inplace=True)
no_of_rating

                                               Book-Title  num_of_rating
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
241066                                      Ã?Â?lpiraten.              2
241067                     Ã?Â?rger mit Produkt X. Roman.              4
241068                                Ã?Â?sterlich leben.              1
241069                              Ã?Â?stlich der Berge.              3
241070                                  Ã?Â?thique en toc              2

[241071 rows x 2 columns]

In [ ]:
#lets find out average of ratings on each book

average_rating = ratings_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
average_rating.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
average_rating

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [ ]:
popular_books = no_of_rating.merge(average_rating ,on='Book-Title')
popular_books

,Book-Title,num_of_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [ ]:
#lets see the book with most no of ratings
popular_books[popular_books['num_of_rating']>=500].sort_values('num_of_rating',ascending=False)

,Book-Title,num_of_rating,avg_rating
234951,Wild Animus,2502,1.019584
196326,The Lovely Bones: A Novel,1295,4.468726
183573,The Da Vinci Code,898,4.642539
5303,A Painted House,838,3.231504
199237,The Nanny Diaries: A Novel,828,3.530193
27922,Bridget Jones's Diary,815,3.527607
206502,The Secret Life of Bees,774,4.447028
52983,Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,3.437838
204387,The Red Tent (Bestselling Backlist),723,4.334716
14392,Angels &amp; Demons,670,3.708955
107962,Life of Pi,664,4.088855
162651,Snow Falling on Cedars,662,3.252266
209298,The Summons,655,3.432061
200253,The Notebook,650,3.560000
210064,The Testament,617,3.179903
85957,House of Sand and Fog,588,3.030612
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
201692,The Pelican Brief,581,2.611015
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
189266,The Girls' Guide to Hunting and Fishing,573,3.139616
169201,Summer Sisters,573,3.361257
187702,The Firm,569,3.080844
202244,The Pilot's Wife : A Novel,568,3.593310
179274,The Brethren,556,2.850719
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
193428,The Joy Luck Club,555,3.055856
219349,Timeline,552,3.750000
6980,A Time to Kill,549,3.122040
209117,The Street Lawyer,545,2.851376
74750,Girl with a Pearl Earring,526,4.218631
205523,The Runaway Jury,520,2.880769
219741,To Kill a Mockingbird,510,4.700000
180737,The Chamber,509,3.015717
818,1st to Die: A Novel,509,3.575639
93210,Interview with the Vampire,508,3.551181
191824,The Horse Whisperer,507,2.686391
204000,The Rainmaker,501,2.922156

# Popularity based filtering

In [ ]:
#lets filter data based on average rating & most number of ratings tpo get the most piopular books
popular_books_df=popular_books[popular_books['num_of_rating']>=500].sort_values('avg_rating',ascending=False)
popular_books_df

,Book-Title,num_of_rating,avg_rating
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
196326,The Lovely Bones: A Novel,1295,4.468726
206502,The Secret Life of Bees,774,4.447028
204387,The Red Tent (Bestselling Backlist),723,4.334716
74750,Girl with a Pearl Earring,526,4.218631
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
107962,Life of Pi,664,4.088855
219349,Timeline,552,3.750000
14392,Angels &amp; Demons,670,3.708955
202244,The Pilot's Wife : A Novel,568,3.593310
818,1st to Die: A Novel,509,3.575639
200253,The Notebook,650,3.560000
93210,Interview with the Vampire,508,3.551181
199237,The Nanny Diaries: A Novel,828,3.530193
27922,Bridget Jones's Diary,815,3.527607
52983,Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,3.437838
209298,The Summons,655,3.432061
169201,Summer Sisters,573,3.361257
162651,Snow Falling on Cedars,662,3.252266
5303,A Painted House,838,3.231504
210064,The Testament,617,3.179903
189266,The Girls' Guide to Hunting and Fishing,573,3.139616
6980,A Time to Kill,549,3.122040
187702,The Firm,569,3.080844
193428,The Joy Luck Club,555,3.055856
85957,House of Sand and Fog,588,3.030612
180737,The Chamber,509,3.015717
204000,The Rainmaker,501,2.922156
205523,The Runaway Jury,520,2.880769
209117,The Street Lawyer,545,2.851376
179274,The Brethren,556,2.850719
191824,The Horse Whisperer,507,2.686391
201692,The Pelican Brief,581,2.611015
234951,Wild Animus,2502,1.019584

From the above data frame we can see the most popular books
If we are vary our parameter no of rating we may get different books at top,
here i gave value no of ratings > 500

In [ ]:
pop_books = popular_books_df.merge(books ,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Year-Of-Publication']]
pop_books.shape
pop_books

,Book-Title,Book-Author,Year-Of-Publication
0,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000
3,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999
5,To Kill a Mockingbird,Harper Lee,1988
13,The Da Vinci Code,Dan Brown,2003
19,The Lovely Bones: A Novel,Alice Sebold,2002
20,The Secret Life of Bees,Sue Monk Kidd,2003
26,The Red Tent (Bestselling Backlist),Anita Diamant,1998
27,Girl with a Pearl Earring,Tracy Chevalier,2001
28,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998
29,Life of Pi,Yann Martel,2002
33,Timeline,MICHAEL CRICHTON,2000
40,Angels &amp; Demons,Dan Brown,2001
45,The Pilot's Wife : A Novel,Anita Shreve,1999
46,1st to Die: A Novel,James Patterson,2002
48,The Notebook,Nicholas Sparks,1998
53,Interview with the Vampire,Anne Rice,1993
55,The Nanny Diaries: A Novel,Emma McLaughlin,2002
57,Bridget Jones's Diary,Helen Fielding,1997
63,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997
66,The Summons,John Grisham,2002
70,Summer Sisters,Judy Blume,1998
74,Snow Falling on Cedars,David Guterson,1994
81,A Painted House,John Grisham,2001
86,The Testament,John Grisham,1999
93,The Girls' Guide to Hunting and Fishing,Melissa Bank,2000
97,A Time to Kill,JOHN GRISHAM,1992
104,The Firm,John Grisham,1991
111,The Joy Luck Club,Amy Tan,1994
114,House of Sand and Fog,Andre Dubus III,2000
116,The Chamber,John Grisham,1994
121,The Rainmaker,JOHN GRISHAM,1996
128,The Runaway Jury,JOHN GRISHAM,1997
134,The Street Lawyer,JOHN GRISHAM,1999
139,The Brethren,JOHN GRISHAM,2000
144,The Horse Whisperer,Nicholas Evans,1996
148,The Pelican Brief,John Grisham,1993
151,Wild Animus,Rich Shapero,2004

#  Collaborative Filtering

In [ ]:
ratings_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [ ]:
a = ratings_name.groupby('User-ID').count()['Book-Title']>300
geninue_users = a[a].index
print(type(geninue_users))

geninue_users

<class 'pandas.core.indexes.numeric.Int64Index'>

Int64Index([  2276,   3363,   4385,   6251,   6543,   6575,   7158,   7346,
              8681,   8936,
            ...
            270713, 271284, 273979, 274004, 274061, 274301, 274308, 275970,
            277427, 278418],
           dtype='int64', name='User-ID', length=498)

In [ ]:
geniune_user =ratings_name[ratings_name['User-ID'].isin(geninue_users)]
geniune_user

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [ ]:
b = geniune_user.groupby('Book-Title').count()['Book-Rating']>=50
filtered_rat = b[b].index
filtered_rat

Index(['1st to Die: A Novel', '2nd Chance', '4 Blondes', 'A Bend in the Road',
       'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Heartbreaking Work of Staggering Genius',
       'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
       'A Man in Full', 'A Map of the World',
       ...
       'Wicked: The Life and Times of the Wicked Witch of the West',
       'Wild Animus', 'Winter Moon', 'Winter Solstice', 'Wish You Well',
       'Without Remorse', 'Wuthering Heights',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=477)

In [ ]:
final_df =geniune_user[geniune_user['Book-Title'].isin(filtered_rat)]
final_df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1025261,263877,0613335864,0,False Memory,Dean Koontz,2001,Sagebrush Bound,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...
1025321,264082,0821750666,0,Paradise,Phoebe Conn,1995,Zebra Books,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [ ]:
piv_tbl = final_df.pivot_table(index='Book-Title',columns='User-ID')
piv_tbl.fillna(0,inplace=True)
piv_tbl.head(500)

                                                   Book-Rating                \
User-ID                                                 2276   3363   4385
Book-Title
1st to Die: A Novel                                        0.0    0.0    0.0
2nd Chance                                                10.0    0.0    0.0
4 Blondes                                                  0.0    0.0    0.0
A Bend in the Road                                         0.0    0.0    0.0
A Case of Need                                             0.0    0.0    0.0
...                                                        ...    ...    ...
Without Remorse                                            0.0    0.0    0.0
Wuthering Heights                                          0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...         0.0    0.0    0.0
Zoya                                                       0.0    0.0    0.0
\O\" Is for Outlaw"                                        0.0    0.0    0.0

                                                                         \
User-ID                                            6251   6543   6575
Book-Title
1st to Die: A Novel                                   0.0    9.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    1.0
A Case of Need                                        0.0    0.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   0.0    0.0    0.0

                                                                         \
User-ID                                            7158   7346   8681
Book-Title
1st to Die: A Novel                                   0.0    0.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    0.0
A Case of Need                                        0.0    0.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   0.0    8.0    0.0

                                                           ...                \
User-ID                                            8936    ... 270713 271284
Book-Title                                                 ...
1st to Die: A Novel                                   0.0  ...    0.0    0.0
2nd Chance                                            0.0  ...    0.0    0.0
4 Blondes                                             0.0  ...    0.0    0.0
A Bend in the Road                                    0.0  ...    0.0    0.0
A Case of Need                                        0.0  ...    0.0    0.0
...                                                   ...  ...    ...    ...
Without Remorse                                       0.0  ...    0.0    0.0
Wuthering Heights                                     0.0  ...    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0  ...    0.0    0.0
Zoya                                                  0.0  ...    0.0    0.0
\O\" Is for Outlaw"                                   0.0  ...    0.0    0.0

                                                                         \
User-ID                                            273979 274004 274061
Book-Title
1st to Die: A Novel                                   0.0    0.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    0.0
A Case of Need                                        0.0    0.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   0.0    0.0    0.0

                                                                         \
User-ID                                            274301 274308 275970
Book-Title
1st to Die: A Novel                                   0.0    0.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    0.0
A Case of Need                                        0.0    7.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   8.0    0.0    0.0


User-ID                                            277427 278418
Book-Title
1st to Die: A Novel                                   0.0    0.0
2nd Chance                                            0.0    0.0
4 Blondes                                             0.0    0.0
A Bend in the Road                                    0.0    0.0
A Case of Need                                        0.0    0.0
...                                                   ...    ...
Without Remorse                                       0.0    0.0
Wuthering Heights                                     0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
Zoya                                                  0.0    0.0
\O\" Is for Outlaw"                                   0.0    0.0

[477 rows x 497 columns]

Caluclate Cosine Similarity for given data

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cos_simscore = cosine_similarity(piv_tbl)
print(cos_simscore.shape)
cos_simscore

(477, 477)

array([[1.        , 0.268097  , 0.        , ..., 0.09253734, 0.20820078,
        0.1761926 ],
       [0.268097  , 1.        , 0.        , ..., 0.0592571 , 0.06411481,
        0.13948894],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.09253734, 0.0592571 , 0.        , ..., 1.        , 0.08532999,
        0.02351353],
       [0.20820078, 0.06411481, 0.        , ..., 0.08532999, 1.        ,
        0.12692859],
       [0.1761926 , 0.13948894, 0.        , ..., 0.02351353, 0.12692859,
        1.        ]])

In [ ]:
from sklearn.metrics.pairwise import pairwise_distances
# Compute the Pearson correlation similarity
pearson_simscore = 1 - pairwise_distances(piv_tbl.T, metric='correlation')

print(pearson_simscore.shape)
pearson_simscore

(497, 497)

array([[ 1.        , -0.00969695,  0.34072967, ..., -0.01896434,
        -0.02586846, -0.015194  ],
       [-0.00969695,  1.        , -0.00297416, ..., -0.00823453,
        -0.01123238, -0.00659741],
       [ 0.34072967, -0.00297416,  1.        , ..., -0.00581658,
        -0.00793415, -0.00466017],
       ...,
       [-0.01896434, -0.00823453, -0.00581658, ...,  1.        ,
         0.07460748, -0.01290257],
       [-0.02586846, -0.01123238, -0.00793415, ...,  0.07460748,
         1.        , -0.01759985],
       [-0.015194  , -0.00659741, -0.00466017, ..., -0.01290257,
        -0.01759985,  1.        ]])

Function that recommend the Book

In [ ]:
def recommend(books_name):
    index = np.where(piv_tbl.index==books_name)[0][0]
    similar_books = sorted(list(enumerate(cos_simscore[index])),key=lambda x:x[1],reverse=True)[1:6]

    for i in similar_books:
        print(piv_tbl.index[i[0]])

In [ ]:
recommend('The Da Vinci Code')

Angels &amp; Demons
Timeline
Misery
Saving Faith
Middlesex: A Novel

In [ ]:
recommend('The Fellowship of the Ring (The Lord of the Rings, Part 1)')

The Two Towers (The Lord of the Rings, Part 2)
Harry Potter and the Prisoner of Azkaban (Book 3)
The Return of the King (The Lord of the Rings, Part 3)
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Goblet of Fire (Book 4)